In [89]:
import pandas as pd
import numpy as np

path = 'C:/Users/elris/Dropbox/answer_sheet.csv'
answer_sheet = pd.read_csv(path)

In [90]:
path = 'C:/Users/elris/Dropbox/stocks.csv'
stocks = pd.read_csv(path, index_col = 0)

In [91]:
path = 'C:/Users/elris/Dropbox/trade_train.csv'
trade_train = pd.read_csv(path, index_col = 0)

In [92]:
stocks.head()

,기준일자,종목번호,종목명,20년7월TOP3대상여부,시장구분,표준산업구분코드_대분류,표준산업구분코드_중분류,표준산업구분코드_소분류,종목시가,종목고가,종목저가,종목종가,거래량,거래금액_만원단위
index,,,,,,,,,,,,,,
0,20190701,A000020,동화약품,N,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,9680,9840,9680,9710,31341,30581
1,20190701,A000080,하이트진로,N,코스피,제조업,음료 제조업,알코올음료 제조업,20550,20550,20200,20300,127186,258535
2,20190701,A000100,유한양행,Y,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,259000,267500,250000,251500,395757,10139357
3,20190701,A000120,CJ대한통운,N,코스피,운수 및 창고업,육상운송 및 파이프라인 운송업,도로 화물 운송업,136500,137000,133000,136000,62513,846100
4,20190701,A000140,하이트진로홀딩스,Y,코스피,금융 및 보험업,금융업,기타 금융업,9060,9190,8910,9000,7661,6896

In [93]:
type(stocks['기준일자'][0])

numpy.int64

In [94]:
time_series = []
for time in stocks['기준일자'] : 
    year = str(time)[:4]
    month = str(time)[4:6]
    time_series.append(year+month)

In [95]:
stocks['기준일자'][0]

20190701

In [96]:
time_series[:5]

['201907', '201907', '201907', '201907', '201907']

In [97]:
stocks['기준일자'] = time_series

In [98]:
stocks.head()

,기준일자,종목번호,종목명,20년7월TOP3대상여부,시장구분,표준산업구분코드_대분류,표준산업구분코드_중분류,표준산업구분코드_소분류,종목시가,종목고가,종목저가,종목종가,거래량,거래금액_만원단위
index,,,,,,,,,,,,,,
0,201907,A000020,동화약품,N,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,9680,9840,9680,9710,31341,30581
1,201907,A000080,하이트진로,N,코스피,제조업,음료 제조업,알코올음료 제조업,20550,20550,20200,20300,127186,258535
2,201907,A000100,유한양행,Y,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,259000,267500,250000,251500,395757,10139357
3,201907,A000120,CJ대한통운,N,코스피,운수 및 창고업,육상운송 및 파이프라인 운송업,도로 화물 운송업,136500,137000,133000,136000,62513,846100
4,201907,A000140,하이트진로홀딩스,Y,코스피,금융 및 보험업,금융업,기타 금융업,9060,9190,8910,9000,7661,6896

In [99]:
stock_list = set(stocks['종목번호'])

In [100]:
unit = (stocks['거래금액_만원단위']/stocks['거래량'])*10000
stocks['거래금액주가'] = unit

In [101]:
stocks.head()

,기준일자,종목번호,종목명,20년7월TOP3대상여부,시장구분,표준산업구분코드_대분류,표준산업구분코드_중분류,표준산업구분코드_소분류,종목시가,종목고가,종목저가,종목종가,거래량,거래금액_만원단위,거래금액주가
index,,,,,,,,,,,,,,,
0,201907,A000020,동화약품,N,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,9680,9840,9680,9710,31341,30581,9757.506142
1,201907,A000080,하이트진로,N,코스피,제조업,음료 제조업,알코올음료 제조업,20550,20550,20200,20300,127186,258535,20327.315900
2,201907,A000100,유한양행,Y,코스피,제조업,의료용 물질 및 의약품 제조업,의약품 제조업,259000,267500,250000,251500,395757,10139357,256201.583295
3,201907,A000120,CJ대한통운,N,코스피,운수 및 창고업,육상운송 및 파이프라인 운송업,도로 화물 운송업,136500,137000,133000,136000,62513,846100,135347.847648
4,201907,A000140,하이트진로홀딩스,Y,코스피,금융 및 보험업,금융업,기타 금융업,9060,9190,8910,9000,7661,6896,9001.435844

In [102]:
open_df = pd.DataFrame(index=set(stocks['기준일자']), columns=stock_list)
open_df = open_df.sort_index()
close_df = pd.DataFrame(index=set(stocks['기준일자']), columns=stock_list)
close_df = close_df.sort_index()
high_df = pd.DataFrame(index=set(stocks['기준일자']), columns=stock_list)
high_df = high_df.sort_index()
low_df = pd.DataFrame(index=set(stocks['기준일자']), columns=stock_list)
low_df = low_df.sort_index()
vol_df = pd.DataFrame(index=set(stocks['기준일자']), columns=stock_list)
vol_df = vol_df.sort_index()
unit_df = pd.DataFrame(index=set(stocks['기준일자']), columns=stock_list)
unit_df = unit_df.sort_index()

In [103]:
for stock in stock_list : 
    temp = stocks[stocks['종목번호'] == stock]

    for time in set(stocks['기준일자']) : 
        try : 
            tmp = temp[temp['기준일자'] == time]
            open_df[stock][time] = int(tmp['종목시가'].mean())
            close_df[stock][time] = int(tmp['종목종가'].mean())
            high_df[stock][time] = int(tmp['종목고가'].mean())
            low_df[stock][time] = int(tmp['종목저가'].mean())
            vol_df[stock][time] = int(tmp['거래량'].mean())
            unit_df[stock][time] = int(tmp['거래금액주가'].mean())
            
        except ValueError : 
            pass

In [104]:
open_df.head()

,A009270,A009460,A008355,A218410,A039610,A136540,A214870,A011210,A027740,A072470,...,A084990,A267790,A014100,A016920,A018250,A000810,A065170,A200780,A228670,A082800
201907,2266,2833,35373,30539,7642,14628,10194,48782,915,4612,...,185360,12763,8185,1655,35810,261978,1615,16921,NaN,1657
201908,2071,2645,36097,29471,5935,12516,9184,41740,824,3192,...,173233,10122,8407,1490,30085,236333,1460,13054,27153,1466
201909,2343,3015,37742,43257,7489,13373,8351,48181,1111,3481,...,159600,10370,7898,1592,31807,228894,1584,13502,31757,1551
201910,2141,3018,35035,40600,6993,13447,10569,46340,969,3100,...,93604,10578,7659,1644,29292,220500,1568,13035,33180,1481
201911,2065,3011,31266,35304,6691,12335,11869,52471,828,3024,...,97190,11552,8270,1580,28502,231119,1590,14500,36085,2135

In [105]:
close_df.head()

,A009270,A009460,A008355,A218410,A039610,A136540,A214870,A011210,A027740,A072470,...,A084990,A267790,A014100,A016920,A018250,A000810,A065170,A200780,A228670,A082800
201907,2264,2819,35145,30310,7568,14436,10124,48573,906,4607,...,185308,12619,8140,1649,35730,261630,1613,16821,NaN,1660
201908,2083,2675,36340,29640,5986,12557,9286,41900,820,3217,...,173366,10130,8365,1492,30176,235904,1472,13054,27343,1467
201909,2350,3001,37439,43442,7552,13347,8274,48657,1117,3498,...,157815,10311,7906,1602,31652,229131,1585,13460,32163,1534
201910,2133,3021,35159,40404,6995,13454,10758,46278,946,3069,...,93447,10596,7664,1638,29188,220785,1571,13030,33071,1474
201911,2056,3023,31107,34959,6668,12259,11745,52619,828,3005,...,96647,11571,8264,1580,28316,232023,1577,14566,36211,2130

In [106]:
unit_df.head()

,A009270,A009460,A008355,A218410,A039610,A136540,A214870,A011210,A027740,A072470,...,A084990,A267790,A014100,A016920,A018250,A000810,A065170,A200780,A228670,A082800
201907,2286,2826,35433,30457,7582,14445,10079,48666,909,4593,...,185307,12778,8147,1639,35762,261520,1613,16760,NaN,1666
201908,2081,2679,36549,29661,6009,12553,9198,41814,830,3214,...,173877,10172,8504,1487,30331,235983,1471,13047,27570,1475
201909,2349,3006,37531,43447,7574,13286,8275,48556,1117,3500,...,158575,10390,7929,1592,31723,229312,1586,13439,32134,1538
201910,2140,3024,35187,40482,7024,13391,10683,46356,959,3071,...,93742,10580,7666,1637,29199,221141,1576,12969,33003,1475
201911,2060,3031,31396,35096,6665,12219,11771,52544,831,3005,...,96907,11564,8285,1581,28446,232165,1579,14701,36049,2132

In [66]:
open_df.to_csv('C:/Users/elris/Dropbox/FBA/시가.csv', index=True)
close_df.to_csv('C:/Users/elris/Dropbox/FBA/종가.csv', index=True)
high_df.to_csv('C:/Users/elris/Dropbox/FBA/고가.csv', index=True)
low_df.to_csv('C:/Users/elris/Dropbox/FBA/저가.csv', index=True)
vol_df.to_csv('C:/Users/elris/Dropbox/FBA/거래량.csv', index=True)
unit_df.to_csv('C:/Users/elris/Dropbox/FBA/거래금액주가.csv', index=True)

In [107]:
trade_train.head()

,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값
0,201907,MAD01,288,A000660,Y,Y,7,17,19,234,74800,78500
1,201907,MAD01,288,A001820,Y,Y,3,4,533,154,47385,46700
2,201907,MAD01,288,A004020,Y,Y,3,3,409,528,41411,40000
3,201907,MAD01,288,A005380,Y,Y,4,3,323,451,140602,140628
4,201907,MAD01,288,A005930,Y,Y,13,19,34,101,45350,46850

In [108]:
trade_train['공시주가'] = 0

In [109]:
trade_train.head()

,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값,공시주가
0,201907,MAD01,288,A000660,Y,Y,7,17,19,234,74800,78500,0
1,201907,MAD01,288,A001820,Y,Y,3,4,533,154,47385,46700,0
2,201907,MAD01,288,A004020,Y,Y,3,3,409,528,41411,40000,0
3,201907,MAD01,288,A005380,Y,Y,4,3,323,451,140602,140628,0
4,201907,MAD01,288,A005930,Y,Y,13,19,34,101,45350,46850,0

In [110]:
unit_list = []
for day, stock in zip(trade_train['기준년월'], trade_train['종목번호']) : 
    try : 
        unit_list.append(unit_df[str(stock)][str(day)])
    except KeyError :
        unit_list.append(0)
        print(day, stock)
trade_train['공시주가'] = unit_list

201908 A204990
201908 A204990
201908 A204990
201909 A204990
201909 A204990
201909 A204990
201909 A204990
201909 A204990
201910 A204990
201912 A204990

In [111]:
trade_train.head()

,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값,공시주가
0,201907,MAD01,288,A000660,Y,Y,7,17,19,234,74800,78500,74563
1,201907,MAD01,288,A001820,Y,Y,3,4,533,154,47385,46700,48992
2,201907,MAD01,288,A004020,Y,Y,3,3,409,528,41411,40000,40211
3,201907,MAD01,288,A005380,Y,Y,4,3,323,451,140602,140628,134906
4,201907,MAD01,288,A005930,Y,Y,13,19,34,101,45350,46850,46248

In [112]:
trade_train.to_csv('C:/Users/elris/Dropbox/FBA/data.csv', index=True)

In [113]:
for i in range(len(trade_train)) : 
    if trade_train['매수고객수'][i]==0 :
        if trade_train['평균매수수량'][i] != 0 : 
            trade_train['평균매수수량'][i] = 0
        else : 
            pass
    else : 
        pass

In [114]:
trade_train[trade_train['매수고객수'] == 0]

,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값,공시주가
13,201907,MAD02,112,A035420,N,Y,0,3,0,55,-1,140719,122813
19,201907,MAD03,250,A008350,N,Y,0,4,0,1100,-1,3305,3398
133,201907,MAD05,890,A006400,N,Y,0,3,0,10,-1,244500,236559
139,201907,MAD05,890,A010950,N,Y,0,3,0,51,-1,88500,90541
149,201907,MAD05,890,A033340,N,Y,0,4,0,89,-1,5800,5088
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29872,202006,MAD44,264,A003670,N,Y,0,3,0,7,-1,64000,68296
29981,202006,MAD46,684,A006060,N,Y,0,3,0,220,-1,9000,7960
30097,202006,MAD46,684,A192650,N,Y,0,3,0,265,-1,8215,8829
30147,202006,MAD47,244,A054450,N,Y,0,3,0,404,-1,7709,8152
30155,202006,MAD47,244,A234080,N,Y,0,3,0,20,-1,18300,21147

In [115]:
for i in range(len(trade_train)) : 
    if trade_train['평균매수수량'][i]==0 and trade_train['매수고객수'][i] != 0 : 
        trade_train['매수고객수'][i] = 0
    else : 
        pass

<ipython-input-115-5ee6759c2ad7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trade_train['매수고객수'][i] = 0

In [116]:
for i in range(len(trade_train)) : 
    if trade_train['평균매도수량'][i]==0 and trade_train['매도고객수'][i] != 0 : 
        trade_train['매도고객수'][i] = 0
    else : 
        pass

<ipython-input-116-34386fa6abe2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trade_train['매도고객수'][i] = 0

In [119]:
trade_train[trade_train['평균매도수량'] == 0]

,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값,공시주가
7,201907,MAD01,288,A008770,Y,N,4,0,32,0,81890,-1,85257
76,201907,MAD04,776,A030200,Y,N,4,0,3,0,27850,-1,27946
232,201907,MAD06,1615,A017180,Y,N,3,0,148,0,5100,-1,4878
297,201907,MAD06,1615,A090460,Y,N,3,0,150,0,19183,-1,18986
443,201907,MAD11,175,A004170,Y,N,4,0,2,0,257125,-1,276196
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,202006,MAD46,684,A004800,Y,N,4,0,99,0,66500,-1,66909
29983,202006,MAD46,684,A006360,Y,N,6,0,274,0,26714,-1,27000
30032,202006,MAD46,684,A033640,Y,N,3,0,110,0,28975,-1,29938
30078,202006,MAD46,684,A088350,Y,N,3,0,2013,0,1585,-1,1503
30128,202006,MAD47,244,A008560,Y,N,3,0,86,0,3290,-1,3362

In [120]:
trade_train.to_csv('C:/Users/elris/Dropbox/FBA/data.csv', index=True)